USE [master]
GO
/****** Object:  Database [QLCN]    Script Date: 05/29/2017 00:44:48 ******/
CREATE DATABASE [QLCN] ON  PRIMARY 
( NAME = N'QLCN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\QLCN.mdf' , SIZE = 3328KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLCN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10.MSSQLSERVER\MSSQL\DATA\QLCN_1.LDF' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCN]
GO
/****** Object:  Table [dbo].[HopDong]    Script Date: 05/29/2017 00:44:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HopDong](
	[MaHD] [nvarchar](10) NOT NULL,
	[LoaiHopDong] [nvarchar](50) NULL,
	[KyHan] [nvarchar](50) NULL,
 CONSTRAINT [PK_HopDong_1] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HopDong] ([MaHD], [LoaiHopDong], [KyHan]) VALUES (N'HD01', N'Hợp Đồng 1', N'12')
INSERT [dbo].[HopDong] ([MaHD], [LoaiHopDong], [KyHan]) VALUES (N'HD02', N'Hợp Đồng 2', N'6')
INSERT [dbo].[HopDong] ([MaHD], [LoaiHopDong], [KyHan]) VALUES (N'HD03', N'Hợp Đồng 3', N'3')
/****** Object:  Table [dbo].[HeSoLuong]    Script Date: 05/29/2017 00:44:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HeSoLuong](
	[MaHSL] [nvarchar](10) NOT NULL,
	[TenHeSoLuong] [nvarchar](50) NULL,
	[HeSoLuong] [int] NULL,
 CONSTRAINT [PK_HeSoLuong] PRIMARY KEY CLUSTERED 
(
	[MaHSL] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HeSoLuong] ([MaHSL], [TenHeSoLuong], [HeSoLuong]) VALUES (N'HSL01', N'Hệ Số Lương 1', 1)
INSERT [dbo].[HeSoLuong] ([MaHSL], [TenHeSoLuong], [HeSoLuong]) VALUES (N'HSL02', N'Hệ Số Lương 2', 2)
INSERT [dbo].[HeSoLuong] ([MaHSL], [TenHeSoLuong], [HeSoLuong]) VALUES (N'HSL03', N'Hệ Số Lương 3', 3)
/****** Object:  Table [dbo].[GioLamViec]    Script Date: 05/29/2017 00:44:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GioLamViec](
	[MaCaLV] [nvarchar](10) NOT NULL,
	[Thu] [nvarchar](10) NOT NULL,
	[GioToi] [time](0) NULL,
	[GioVe] [time](0) NULL,
	[DiTre] [bit] NULL,
	[Tong] [time](0) NULL,
	[Ngay/Thang/Nam] [date] NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[MaGioLamViec] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_GioLamViec] PRIMARY KEY CLUSTERED 
(
	[MaCaLV] ASC,
	[Thu] ASC,
	[Ngay/Thang/Nam] ASC,
	[MaNV] ASC,
	[MaGioLamViec] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[GioLamViec] ([MaCaLV], [Thu], [GioToi], [GioVe], [DiTre], [Tong], [Ngay/Thang/Nam], [MaNV], [MaGioLamViec]) VALUES (N'CALV1', N'2', CAST(0x0078690000000000 AS Time), CAST(0x00B8A10000000000 AS Time), 0, CAST(0x0040380000000000 AS Time), CAST(0xDD3C0B00 AS Date), N'CN001', N'GLV01')
INSERT [dbo].[GioLamViec] ([MaCaLV], [Thu], [GioToi], [GioVe], [DiTre], [Tong], [Ngay/Thang/Nam], [MaNV], [MaGioLamViec]) VALUES (N'CALV1', N'2', CAST(0x0080700000000000 AS Time), CAST(0x00B8A10000000000 AS Time), 1, CAST(0x0038310000000000 AS Time), CAST(0xDD3C0B00 AS Date), N'CN002', N'GLV01')
INSERT [dbo].[GioLamViec] ([MaCaLV], [Thu], [GioToi], [GioVe], [DiTre], [Tong], [Ngay/Thang/Nam], [MaNV], [MaGioLamViec]) VALUES (N'CALV1', N'2', CAST(0x0078690000000000 AS Time), CAST(0x00B09A0000000000 AS Time), 0, CAST(0x0038310000000000 AS Time), CAST(0xDD3C0B00 AS Date), N'CN003', N'GLV01')
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[ChucVu]    Script Date: 05/29/2017 00:44:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChucVu](
	[MaCV] [nvarchar](10) NOT NULL,
	[TenChucVu] [nvarchar](50) NULL,
 CONSTRAINT [PK_ChucVu] PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ChucVu] ([MaCV], [TenChucVu]) VALUES (N'CV01', N'Giám Đốc')
INSERT [dbo].[ChucVu] ([MaCV], [TenChucVu]) VALUES (N'CV02', N'Phó Giám Đốc')
INSERT [dbo].[ChucVu] ([MaCV], [TenChucVu]) VALUES (N'CV03', N'Tổ Trưởng')
/****** Object:  Table [dbo].[CaLamViec]    Script Date: 05/29/2017 00:44:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CaLamViec](
	[MaCaLV] [nvarchar](10) NOT NULL,
	[TenCa] [nvarchar](50) NULL,
	[GioBatDau] [time](0) NULL,
	[GioKetThuc] [time](0) NULL,
 CONSTRAINT [PK_CaLamViec] PRIMARY KEY CLUSTERED 
(
	[MaCaLV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CaLamViec] ([MaCaLV], [TenCa], [GioBatDau], [GioKetThuc]) VALUES (N'CALV1', N'Ca1', CAST(0x0078690000000000 AS Time), CAST(0x00B8A10000000000 AS Time))
INSERT [dbo].[CaLamViec] ([MaCaLV], [TenCa], [GioBatDau], [GioKetThuc]) VALUES (N'CALV2', N'Ca2', CAST(0x00D8BD0000000000 AS Time), CAST(0x0008E80000000000 AS Time))
INSERT [dbo].[CaLamViec] ([MaCaLV], [TenCa], [GioBatDau], [GioKetThuc]) VALUES (N'CALV3', N'CaToi', CAST(0x0020FD0000000000 AS Time), CAST(0x0060350100000000 AS Time))
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 05/29/2017 00:44:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenTaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NULL,
	[PhanQuyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenTaiKhoan] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [MatKhau], [PhanQuyen]) VALUES (N'admin', N'admin', N'1')
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [MatKhau], [PhanQuyen]) VALUES (N'user1', N'user1', N'2')
INSERT [dbo].[TaiKhoan] ([TenTaiKhoan], [MatKhau], [PhanQuyen]) VALUES (N'user2', N'user2', N'2')
/****** Object:  Table [dbo].[PhuCap]    Script Date: 05/29/2017 00:44:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhuCap](
	[MaPhuCap] [nvarchar](10) NOT NULL,
	[TenPhucCap] [nvarchar](50) NULL,
	[SoTienPhuCap] [int] NULL,
 CONSTRAINT [PK_PhuCap] PRIMARY KEY CLUSTERED 
(
	[MaPhuCap] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[PhuCap] ([MaPhuCap], [TenPhucCap], [SoTienPhuCap]) VALUES (N'PC01', N'Tiền Xăng', 300000)
INSERT [dbo].[PhuCap] ([MaPhuCap], [TenPhucCap], [SoTienPhuCap]) VALUES (N'PC02', N'Tiền Làm Ngoài Giờ', 300000)
INSERT [dbo].[PhuCap] ([MaPhuCap], [TenPhucCap], [SoTienPhuCap]) VALUES (N'PC03', N'Tiền Ăn Trưa Chiều', 500000)
/****** Object:  Table [dbo].[Lich]    Script Date: 05/29/2017 00:44:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lich](
	[MaNV] [nvarchar](10) NOT NULL,
	[1] [bit] NULL,
	[2] [bit] NULL,
	[3] [bit] NULL,
	[4] [bit] NULL,
	[5] [bit] NULL,
	[6] [bit] NULL,
	[7] [bit] NULL,
	[8] [bit] NULL,
	[9] [bit] NULL,
	[10] [bit] NULL,
	[11] [bit] NULL,
	[12] [bit] NULL,
	[13] [bit] NULL,
	[14] [bit] NULL,
	[15] [bit] NULL,
	[16] [bit] NULL,
	[17] [bit] NULL,
	[18] [bit] NULL,
	[19] [bit] NULL,
	[20] [bit] NULL,
	[21] [bit] NULL,
	[22] [bit] NULL,
	[23] [bit] NULL,
	[24] [bit] NULL,
	[25] [bit] NULL,
	[26] [bit] NULL,
	[27] [bit] NULL,
	[28] [bit] NULL,
	[29] [bit] NULL,
	[30] [bit] NULL,
	[31] [bit] NULL,
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
 CONSTRAINT [PK_Lich] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC,
	[Thang] ASC,
	[Nam] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Lich] ([MaNV], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15], [16], [17], [18], [19], [20], [21], [22], [23], [24], [25], [26], [27], [28], [29], [30], [31], [Thang], [Nam]) VALUES (N'CN001', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 5, 2017)
INSERT [dbo].[Lich] ([MaNV], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15], [16], [17], [18], [19], [20], [21], [22], [23], [24], [25], [26], [27], [28], [29], [30], [31], [Thang], [Nam]) VALUES (N'CN001', 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 6, 2017)
INSERT [dbo].[Lich] ([MaNV], [1], [2], [3], [4], [5], [6], [7], [8], [9], [10], [11], [12], [13], [14], [15], [16], [17], [18], [19], [20], [21], [22], [23], [24], [25], [26], [27], [28], [29], [30], [31], [Thang], [Nam]) VALUES (N'CN002', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 5, 2017)
/****** Object:  Table [dbo].[KyHopDong]    Script Date: 05/29/2017 00:44:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KyHopDong](
	[MaHD] [nvarchar](10) NOT NULL,
	[TuNgay] [date] NOT NULL,
	[DenNgay] [date] NULL,
	[NgayKyHD] [date] NULL,
	[DieuKhoan] [nvarchar](50) NULL,
	[MaNV] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_HopDong] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[TuNgay] ASC,
	[MaNV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KyHopDong] ([MaHD], [TuNgay], [DenNgay], [NgayKyHD], [DieuKhoan], [MaNV]) VALUES (N'HD01', CAST(0xDD3C0B00 AS Date), CAST(0x4A3E0B00 AS Date), CAST(0xDB3C0B00 AS Date), N'1', N'CN001')
INSERT [dbo].[KyHopDong] ([MaHD], [TuNgay], [DenNgay], [NgayKyHD], [DieuKhoan], [MaNV]) VALUES (N'HD01', CAST(0xDD3C0B00 AS Date), CAST(0x4A3E0B00 AS Date), CAST(0xDB3C0B00 AS Date), N'1', N'CN002')
INSERT [dbo].[KyHopDong] ([MaHD], [TuNgay], [DenNgay], [NgayKyHD], [DieuKhoan], [MaNV]) VALUES (N'HD01', CAST(0xDD3C0B00 AS Date), CAST(0x4A3E0B00 AS Date), CAST(0xDB3C0B00 AS Date), N'1', N'CN003')
/****** Object:  StoredProcedure [dbo].[deletechucvu]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[deletechucvu]
	@macv nvarchar(10)
as
begin
	if exists (SELECT MaCV FROM ChucVu WHERE MaCV=@macv)
		delete ChucVu WHERE MaCV=@macv
	else
	print N'delete không được'
end
GO
/****** Object:  StoredProcedure [dbo].[deletecalamviec]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[deletecalamviec]
	@maclv nvarchar(10)
as
begin
	if exists (SELECT MaCaLV FROM CaLamViec WHERE MaCaLV=@maclv)
		delete CaLamViec WHERE MaCaLV=@maclv
	else
	print N'delete không được'
end
GO
/****** Object:  Table [dbo].[CongNhan]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CongNhan](
	[MaNV] [nvarchar](10) NOT NULL,
	[Ho] [nvarchar](50) NULL,
	[Ten] [nvarchar](10) NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[NgaySinh] [date] NULL,
	[NoiSinh] [nvarchar](50) NULL,
	[CMND] [nchar](30) NULL,
	[DanToc] [nvarchar](10) NULL,
	[TonGiao] [nvarchar](10) NULL,
	[QueQuan] [nvarchar](50) NOT NULL,
	[DCThuongTru] [nvarchar](50) NULL,
	[NoiOHienNay] [nvarchar](50) NULL,
	[DienThoaiNha] [nchar](30) NULL,
	[DienThoaiDD] [nchar](30) NULL,
	[Email] [nvarchar](50) NULL,
	[TTrangHonNhan] [nvarchar](50) NULL,
	[NgayTuyenDung] [date] NULL,
	[NoiLamViec] [nvarchar](50) NULL,
	[TrinhDoVanHoa] [nvarchar](50) NULL,
	[MaHSL] [nvarchar](10) NULL,
	[MaCV] [nvarchar](10) NULL,
	[MaPhuCap] [nvarchar](10) NULL,
	[TaiKhoanNganHang] [nvarchar](50) NULL,
	[NgayCapCMND] [date] NULL,
	[NoiCapCMND] [nvarchar](50) NULL,
	[Hinh] [nvarchar](50) NULL,
	[TinhTrangLamViec] [nvarchar](20) NULL,
	[QuocTich] [nvarchar](50) NULL,
	[MaBHYT] [nvarchar](50) NULL,
	[MaBHXH] [nvarchar](50) NULL,
 CONSTRAINT [PK_CongNhan] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[updatechucvu]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[updatechucvu]
	@macv nvarchar(10),
	@tenchucvu nvarchar(50)
as
begin
	if exists (SELECT MaCV FROM ChucVu WHERE MaCV=@macv)
		update ChucVu set TenChucVu=@tenchucvu WHERE MaCV=@macv
	else
	print N'update không được'
end
GO
/****** Object:  StoredProcedure [dbo].[updatecalamviec]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updatecalamviec]
	@maclv nvarchar(10),
	@tencalamviec nvarchar(50),
	@giobatdau time(0),
	@gioketthuc time(0)
as
begin
	if exists (SELECT MaCaLV FROM CaLamViec WHERE MaCaLV=@maclv)
		update CaLamViec set TenCa=@tencalamviec,GioBatDau=@giobatdau,GioKetThuc=@gioketthuc WHERE MaCaLV=@maclv
	else
	print N'update không được'
end
GO
/****** Object:  StoredProcedure [dbo].[deletehopdong]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[deletehopdong]
	@mahd nvarchar(10)
as
begin
	if exists (SELECT MaHD FROM HopDong WHERE MaHD=@mahd)
		delete HopDong WHERE MaHD=@mahd
	else
	print N'delete không được'
end
GO
/****** Object:  StoredProcedure [dbo].[deletehesoluong]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[deletehesoluong]
	@mahsl nvarchar(10)
as
begin
	if exists (SELECT MaHSL FROM HeSoLuong WHERE MaHSL=@mahsl)
		delete HeSoLuong WHERE MaHSL=@mahsl
	else
	print N'delete không được'
end
GO
/****** Object:  StoredProcedure [dbo].[updatehopdong]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updatehopdong]
	@mahd nvarchar(10),
	@loaihopdong nvarchar(50),
	@kyhan nvarchar(50)
as
begin
	if exists (SELECT MaHD FROM HopDong WHERE MaHD=@mahd)
		update HopDong set LoaiHopDong=@loaihopdong,KyHan=@kyhan WHERE MaHD=@mahd
	else
	print N'update không được'
end
GO
/****** Object:  StoredProcedure [dbo].[updatehesoluong]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updatehesoluong]
	@mahsl nvarchar(10),
	@tenhesoluong nvarchar(50),
	@hesoluong int
as
begin
	if exists (SELECT MaHSL FROM HeSoLuong WHERE MaHSL=@mahsl)
		update HeSoLuong set TenHeSoLuong=@tenhesoluong,HeSoLuong=@hesoluong WHERE MaHSL=@mahsl
	else
	print N'update không được'
end
GO
/****** Object:  StoredProcedure [dbo].[updategiolamviec]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updategiolamviec]
	@macalamviec nvarchar(10),
	@giove time(0),
	@ngay date,
	@magiolamviec nvarchar(10)
as
begin
	if exists (SELECT MaGioLamViec FROM GioLamViec WHERE MaCaLV=@macalamviec AND MaGioLamViec=@magiolamviec AND [Ngay/Thang/Nam]=[Ngay/Thang/Nam])
	update GioLamViec set GioVe=@giove,Tong=CONVERT(TIME,CONVERT(DATETIME,GioVe)-CONVERT(DATETIME,GioToi)) where MaCaLV=@macalamviec AND MaCaLV=@macalamviec AND MaGioLamViec=@magiolamviec
	else
	print N'update không được'
end
GO
/****** Object:  StoredProcedure [dbo].[addtaikhoan]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addtaikhoan]
	@tentaikhoan nvarchar(50),
	@matkhau nvarchar(50),
	@phanquyen nvarchar(50)
as
begin
	if not exists (SELECT TenTaiKhoan FROM TaiKhoan WHERE TenTaiKhoan=@tentaikhoan)
		insert into TaiKhoan values(@tentaikhoan,@matkhau,@phanquyen)
	else
	print N'add không được'
end
GO
/****** Object:  StoredProcedure [dbo].[addphucap]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addphucap]
	@maphucap nvarchar(10),
	@tenphucap nvarchar(50),
	@sotienphucap int
as
begin
	if not exists (SELECT MaPhuCap FROM PhuCap WHERE MaPhuCap=@maphucap)
		insert into PhuCap values(@maphucap,@tenphucap,@sotienphucap)
	else
	print N'add không được'
end
GO
/****** Object:  StoredProcedure [dbo].[addhopdong]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addhopdong]
	@mahd nvarchar(10),
	@loaihopdong nvarchar(50),
	@kyhan nvarchar(50)
as
begin
	if not exists (SELECT MaHD FROM HopDong WHERE MaHD=@mahd)
		insert into HopDong values(@mahd,@loaihopdong,@kyhan)
	else
	print N'add không được'
end
GO
/****** Object:  StoredProcedure [dbo].[addhesoluong]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addhesoluong]
	@mahsl nvarchar(10),
	@tenhesoluong nvarchar(50),
	@hesoluong int
as
begin
	if not exists (SELECT MaHSL FROM HeSoLuong WHERE MaHSL=@mahsl)
		insert into HeSoLuong values(@mahsl,@tenhesoluong,@hesoluong)
	else
	print N'add không được'
end
GO
/****** Object:  StoredProcedure [dbo].[AddGioLamViec]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddGioLamViec]
	@macalamviec nvarchar(10),
	@giotoi time(0),
	@giove time(0),
	@thu nvarchar(10),
	@ditre bit,
	@tong time(0),
	@ngaythangnam date,
	@macn nvarchar(10),
	@magiolamviec nvarchar(10)
as
begin
	if not exists (SELECT MaGioLamViec FROM GioLamViec WHERE MaCaLV=@macalamviec AND MaGioLamViec=@magiolamviec AND [Ngay/Thang/Nam]=[Ngay/Thang/Nam])
		insert into GioLamViec(MaCaLV,Thu,GioToi,GioVe,DiTre,Tong,[Ngay/Thang/Nam],MaNV,MaGioLamViec) values(@macalamviec,@thu,@giotoi,@giove,@ditre,@tong,@ngaythangnam,@macn,@magiolamviec)
	else
	print N'add không được'
end
GO
/****** Object:  StoredProcedure [dbo].[addchucvu]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addchucvu]
	@macv nvarchar(10),
	@tenchucvu nvarchar(50)
as
begin
	if not exists (SELECT MaCV FROM ChucVu WHERE MaCV=@macv)
		insert into ChucVu values(@macv,@tenchucvu)
	else
	print N'add không được'
end
GO
/****** Object:  StoredProcedure [dbo].[addcalamviec]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addcalamviec]
	@maclv nvarchar(10),
	@tencalamviec nvarchar(50),
	@giobatdau time(0),
	@gioketthuc time(0)
as
begin
	if not exists (SELECT MaCaLV FROM CaLamViec WHERE MaCaLV=@maclv)
		insert into CaLamViec values(@maclv,@tencalamviec,@giobatdau,@gioketthuc)
	else
	print N'add không được'
end
GO
/****** Object:  StoredProcedure [dbo].[addlich]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addlich]
	@macn nvarchar(10),
	@ngay date
as
begin
	if not exists (SELECT Thang FROM Lich WHERE Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay))
	begin
		insert into Lich(MaNV,Thang,Nam) values(@macn,DATEPART(MONTH,@ngay),DATEPART(YEAR,@ngay))	
		if(DAY(@ngay)=1)
			update Lich set [1]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=2)
			update Lich set [2]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=3)
			update Lich set [3]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=4)
			update Lich set [4]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=5)
			update Lich set [5]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=6)
			update Lich set [6]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=7)
			update Lich set [7]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=8)
			update Lich set [8]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=9)
			update Lich set [9]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=10)
			update Lich set [10]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=11)
			update Lich set [11]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=12)
			update Lich set [12]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=13)
			update Lich set [13]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=14)
			update Lich set [14]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=15)
			update Lich set [15]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=16)
			update Lich set [16]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=17)
			update Lich set [17]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=18)
			update Lich set [18]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=19)
			update Lich set [19]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=20)
			update Lich set [20]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=21)
			update Lich set [21]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=22)
			update Lich set [22]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=23)
			update Lich set [23]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=24)
			update Lich set [24]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=25)
			update Lich set [25]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=26)
			update Lich set [26]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=27)
			update Lich set [27]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=28)
			update Lich set [28]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=29)
			update Lich set [29]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=30)
			update Lich set [30]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
		if(DAY(@ngay)=31)
			update Lich set [31]=1 WHERE MaNV=@macn AND Thang=DATEPART(MONTH,@ngay) AND Nam=DATEPART(YEAR,@ngay)
	end
	else
	print N'update không được'
end
GO
/****** Object:  StoredProcedure [dbo].[deletetaikhoan]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[deletetaikhoan]
	@tentaikhoan nvarchar(50)
as
begin
	if exists (SELECT TenTaiKhoan FROM TaiKhoan WHERE TenTaiKhoan=@tentaikhoan)
		delete TaiKhoan WHERE TenTaiKhoan=@tentaikhoan
	else
	print N'delete không được'
end
GO
/****** Object:  StoredProcedure [dbo].[deletephucap]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[deletephucap]
	@maphucap nvarchar(10)
as
begin
	if  exists (SELECT MaPhuCap FROM PhuCap WHERE MaPhuCap=@maphucap)
		delete PhuCap WHERE MaPhuCap=@maphucap
	else
	print N'delete không được'
end
GO
/****** Object:  StoredProcedure [dbo].[updatetaikhoan]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updatetaikhoan]
	@tentaikhoan nvarchar(50),
	@matkhau nvarchar(50),
	@phanquyen nvarchar(50)
as
begin
	if exists (SELECT TenTaiKhoan FROM TaiKhoan WHERE TenTaiKhoan=@tentaikhoan)
		update TaiKhoan set MatKhau=@matkhau,PhanQuyen=@phanquyen WHERE TenTaiKhoan=@tentaikhoan
	else
	print N'update không được'
end
GO
/****** Object:  StoredProcedure [dbo].[updatephucap]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updatephucap]
	@maphucap nvarchar(10),
	@tenphucap nvarchar(50),
	@sotienphucap int
as
begin
	if  exists (SELECT MaPhuCap FROM PhuCap WHERE MaPhuCap=@maphucap)
		update PhuCap set TenPhucCap=@tenphucap,SoTienPhuCap=@sotienphucap WHERE MaPhuCap=@maphucap
	else
	print N'update không được'
end
GO
/****** Object:  StoredProcedure [dbo].[updatekyhopdong]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updatekyhopdong]
	@mahd nvarchar(10),
	@tungay date,
	@denngay date,
	@ngaykyhd date,
	@dieukhoan nvarchar(50),
	@macn nvarchar(10)
as
begin
	if exists (SELECT MaHD FROM KyHopDong WHERE MaHD=@mahd AND TuNgay=@tungay AND MaNV=@macn)
	update KyHopDong set TuNgay=@tungay,DenNgay=@denngay,NgayKyHD=@ngaykyhd,DieuKhoan=@dieukhoan WHERE MaHD=@mahd AND MaNV=@macn
	else
	print N'update không được'
end
GO
/****** Object:  StoredProcedure [dbo].[deletekyhopdong]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[deletekyhopdong]
	@mahd nvarchar(10),
	@macn nvarchar(10)
as
begin
	if exists (SELECT MaHD FROM KyHopDong WHERE MaHD=@mahd AND MaNV=@macn)
		delete KyHopDong WHERE MaHD=@mahd AND MaNV=@macn
	else
	print N'delete không được'
end
GO
/****** Object:  StoredProcedure [dbo].[addkyhopdong]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addkyhopdong]
	@mahd nvarchar(10),
	@tungay date,
	@denngay date,
	@ngaykyhd date,
	@dieukhoan nvarchar(50),
	@macn nvarchar(10)
as
begin
	if not exists (SELECT MaHD FROM KyHopDong WHERE MaHD=@mahd AND TuNgay=@tungay AND MaNV=@macn)
		insert into KyHopDong values(@mahd,@tungay,@denngay,@ngaykyhd,@dieukhoan,@macn)
	else
	print N'add không được'
end
GO
/****** Object:  StoredProcedure [dbo].[addcongnhan]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addcongnhan]
			@macn nvarchar(10),
			@ho nvarchar(50),
            @ten nvarchar(10),
            @gioitinh nvarchar(3),
            @ngaysinh date,
			@noisinh nvarchar(50),
            @cmnd nchar(30),
            @dantoc nvarchar(10),
            @tongiao nvarchar(10),
            @quequan nvarchar(50),
            @dcthuongtru nvarchar(50),
            @noiohiennay nvarchar(50),
			@dienthoainha nchar(30),
			@dienthoaidd nchar(30),
            @email nvarchar(50),
            @ttranghonnhan nvarchar(50),
            @ngaytuyendung date,
            @noilamviec nvarchar(50),
            @trinhdovanhoa nvarchar(50),
            @mahesoluong nvarchar(10),
            @machucvu nvarchar(10),
			@maphucap nvarchar(10),
			@taikhoangnganhang nvarchar(50),
            @ngaycapcmnd date,
            @noicapcmnd nvarchar(50),
			@hinh nvarchar(50),
            @tinhtranglamviec nvarchar(20),
            @quoctich nvarchar(50),
			@mabhyt nvarchar(50),
			@mabhxh nvarchar(50)
as
begin
	if not exists (SELECT MaNV FROM CongNhan WHERE MaNV=@macn)
	insert into CongNhan values(@macn,@ho,@ten,@gioitinh,@ngaysinh,@noisinh,@cmnd,@dantoc,@tongiao,@quequan,@dcthuongtru,@noiohiennay,@dienthoainha,@dienthoaidd,@email,@ttranghonnhan,@ngaytuyendung,@noilamviec,@trinhdovanhoa,@mahesoluong,@machucvu,@maphucap,@taikhoangnganhang,@ngaycapcmnd,@noicapcmnd,@hinh,@tinhtranglamviec,@quoctich,@mabhyt,@mabhxh)
	else
	print N'add không được'
end
GO
/****** Object:  Table [dbo].[Luong]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Luong](
	[Thang] [int] NOT NULL,
	[Nam] [int] NOT NULL,
	[MaNV] [nvarchar](10) NOT NULL,
	[MaHSL] [nvarchar](10) NULL,
	[MaPhuCap] [nvarchar](10) NULL,
	[GioLamViec] [time](0) NULL,
	[Luong] [int] NULL,
 CONSTRAINT [PK_Luong] PRIMARY KEY CLUSTERED 
(
	[Thang] ASC,
	[Nam] ASC,
	[MaNV] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Luong] ([Thang], [Nam], [MaNV], [MaHSL], [MaPhuCap], [GioLamViec], [Luong]) VALUES (5, 2017, N'CN001', N'HSL02', N'PC03', CAST(0x00784A0100000000 AS Time), 450000)
INSERT [dbo].[Luong] ([Thang], [Nam], [MaNV], [MaHSL], [MaPhuCap], [GioLamViec], [Luong]) VALUES (5, 2017, N'CN002', N'HSL01', N'PC01', CAST(0x00582E0100000000 AS Time), 380000)
INSERT [dbo].[Luong] ([Thang], [Nam], [MaNV], [MaHSL], [MaPhuCap], [GioLamViec], [Luong]) VALUES (5, 2017, N'CN003', N'HSL01', N'PC01', CAST(0x0070430100000000 AS Time), 390000)
/****** Object:  StoredProcedure [dbo].[updatecongnhan]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[updatecongnhan]
			@macn nvarchar(10),
			@ho nvarchar(50),
            @ten nvarchar(10),
            @gioitinh nvarchar(3),
            @ngaysinh date,
			@noisinh nvarchar(50),
            @cmnd nchar(30),
            @dantoc nvarchar(10),
            @tongiao nvarchar(10),
            @quequan nvarchar(50),
            @dcthuongtru nvarchar(50),
            @noiohiennay nvarchar(50),
			@dienthoainha nchar(30),
			@dienthoaidd nchar(30),
            @email nvarchar(50),
            @ttranghonnhan nvarchar(50),
            @ngaytuyendung date,
            @noilamviec nvarchar(50),
            @trinhdovanhoa nvarchar(50),
            @mahesoluong nvarchar(10),
            @machucvu nvarchar(10),
			@maphucap nvarchar(10),
			@taikhoangnganhang nvarchar(50),
            @ngaycapcmnd date,
            @noicapcmnd nvarchar(50),
			@hinh nvarchar(50),
            @tinhtranglamviec nvarchar(20),
            @quoctich nvarchar(50),
			@mabhyt nvarchar(50),
			@mabhxh nvarchar(50)
as
begin
	if exists (SELECT MaNV FROM CongNhan WHERE MaNV=@macn)
	update CongNhan set Ho=@ho,Ten=@ten,GioiTinh=@gioitinh,NgaySinh=@ngaysinh,NoiSinh=@noisinh,CMND=@cmnd,DanToc=@dantoc,TonGiao=@tongiao,QueQuan=@quequan,DCThuongTru=@dcthuongtru,NoiOHienNay=@noiohiennay,DienThoaiNha=@dienthoainha,DienThoaiDD=@dienthoaidd,Email=@email,TTrangHonNhan=@ttranghonnhan,NgayTuyenDung=@ngaytuyendung,TrinhDoVanHoa=@trinhdovanhoa,MaHSL=@mahesoluong,MaCV=@machucvu,MaPhuCap=@maphucap,TaiKhoanNganHang=@taikhoangnganhang,NgayCapCMND=@ngaycapcmnd,NoiCapCMND=@noicapcmnd,Hinh=@hinh,TinhTrangLamViec=@tinhtranglamviec,QuocTich=@quoctich,MaBHXH=@mabhxh,MaBHYT=@mabhyt where MaCV=@macn
	else
	print N'update không được'
end
GO
/****** Object:  StoredProcedure [dbo].[deletecongnhan]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[deletecongnhan]
	@macn nvarchar(10)
as
begin
	if exists (SELECT MaNV FROM CongNhan WHERE MaNV=@macn)
	begin
		if exists (SELECT MaNV FROM GioLamViec WHERE MaNV=@macn)
		delete GioLamViec where MaNV=@macn
		if exists (SELECT MaNV FROM KyHopDong WHERE MaNV=@macn)
		delete KyHopDong where MaNV=@macn
		if exists (SELECT MaNV FROM Lich WHERE MaNV=@macn)
		delete Lich where MaNV=@macn
		if exists (SELECT MaNV FROM Luong WHERE MaNV=@macn)
		delete Luong where MaNV=@macn
		delete CongNhan where MaNV=@macn
	end
	else
	print N'delete không được'
end
GO
/****** Object:  StoredProcedure [dbo].[addluong]    Script Date: 05/29/2017 00:44:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addluong]
	@macn nvarchar(10),
	@ngay date
as
begin
declare @hesoluong int=(SELECT HeSoLuong FROM HeSoLuong,CongNhan WHERE HeSoLuong.MaHSL=CongNhan.MaHSL AND CongNhan.MaNV=@macn)
declare @phucap money=(SELECT SoTienPhuCap FROM PhuCap,CongNhan WHERE PhuCap.MaPhuCap=CongNhan.MaPhuCap AND CongNhan.MaNV=@macn)
	if not exists (SELECT MaNV FROM Luong)
	begin
		declare @giolamviec time=(SELECT cast(dateadd(millisecond,sum(datediff
(millisecond,0,cast(Tong as datetime))),0) as time) FROM GioLamViec,CongNhan WHERE GioLamViec.MaNV=CongNhan.MaNV AND DATEPART(MONTH,[Ngay/Thang/Nam])=DATEPART(MONTH,@ngay) AND GioLamViec.MaNV=@macn)
		insert into Luong values(DATEPART(MONTH,@ngay),DATEPART(YEAR,@ngay),@macn,@hesoluong,@phucap,@giolamviec,@hesoluong*(DATEPART(HOUR,@giolamviec)+DATEPART(MINUTE,@giolamviec)/60)+@phucap)
	end
	else
	begin
		declare @giolamviec1 time=(SELECT cast(dateadd(millisecond,sum(datediff
(millisecond,0,cast(Tong as datetime))),0) as time) FROM GioLamViec,CongNhan WHERE GioLamViec.MaNV=CongNhan.MaNV AND DATEPART(MONTH,[Ngay/Thang/Nam])=DATEPART(MONTH,@ngay) AND GioLamViec.MaNV=@macn)
		update Luong set GioLamViec=@giolamviec1,Luong=@hesoluong*(DATEPART(HOUR,@giolamviec1)+DATEPART(MINUTE,@giolamviec1)/60)+@phucap WHERE MaNV=@macn
	end
end
GO
/****** Object:  Default [DF_Lich_1]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_1]  DEFAULT ((0)) FOR [1]
GO
/****** Object:  Default [DF_Lich_2]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_2]  DEFAULT ((0)) FOR [2]
GO
/****** Object:  Default [DF_Lich_3]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_3]  DEFAULT ((0)) FOR [3]
GO
/****** Object:  Default [DF_Lich_4]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_4]  DEFAULT ((0)) FOR [4]
GO
/****** Object:  Default [DF_Lich_5]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_5]  DEFAULT ((0)) FOR [5]
GO
/****** Object:  Default [DF_Lich_6]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_6]  DEFAULT ((0)) FOR [6]
GO
/****** Object:  Default [DF_Lich_7]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_7]  DEFAULT ((0)) FOR [7]
GO
/****** Object:  Default [DF_Lich_8]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_8]  DEFAULT ((0)) FOR [8]
GO
/****** Object:  Default [DF_Lich_9]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_9]  DEFAULT ((0)) FOR [9]
GO
/****** Object:  Default [DF_Lich_10]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_10]  DEFAULT ((0)) FOR [10]
GO
/****** Object:  Default [DF_Lich_11]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_11]  DEFAULT ((0)) FOR [11]
GO
/****** Object:  Default [DF_Lich_12]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_12]  DEFAULT ((0)) FOR [12]
GO
/****** Object:  Default [DF_Lich_13]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_13]  DEFAULT ((0)) FOR [13]
GO
/****** Object:  Default [DF_Lich_14]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_14]  DEFAULT ((0)) FOR [14]
GO
/****** Object:  Default [DF_Lich_15]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_15]  DEFAULT ((0)) FOR [15]
GO
/****** Object:  Default [DF_Lich_16]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_16]  DEFAULT ((0)) FOR [16]
GO
/****** Object:  Default [DF_Lich_17]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_17]  DEFAULT ((0)) FOR [17]
GO
/****** Object:  Default [DF_Lich_18]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_18]  DEFAULT ((0)) FOR [18]
GO
/****** Object:  Default [DF_Lich_19]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_19]  DEFAULT ((0)) FOR [19]
GO
/****** Object:  Default [DF_Lich_20]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_20]  DEFAULT ((0)) FOR [20]
GO
/****** Object:  Default [DF_Lich_21]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_21]  DEFAULT ((0)) FOR [21]
GO
/****** Object:  Default [DF_Lich_22]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_22]  DEFAULT ((0)) FOR [22]
GO
/****** Object:  Default [DF_Lich_23]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_23]  DEFAULT ((0)) FOR [23]
GO
/****** Object:  Default [DF_Lich_24]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_24]  DEFAULT ((0)) FOR [24]
GO
/****** Object:  Default [DF_Lich_25]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_25]  DEFAULT ((0)) FOR [25]
GO
/****** Object:  Default [DF_Lich_26]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_26]  DEFAULT ((0)) FOR [26]
GO
/****** Object:  Default [DF_Lich_27]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_27]  DEFAULT ((0)) FOR [27]
GO
/****** Object:  Default [DF_Lich_28]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_28]  DEFAULT ((0)) FOR [28]
GO
/****** Object:  Default [DF_Lich_29]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_29]  DEFAULT ((0)) FOR [29]
GO
/****** Object:  Default [DF_Lich_30]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_30]  DEFAULT ((0)) FOR [30]
GO
/****** Object:  Default [DF_Lich_31]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[Lich] ADD  CONSTRAINT [DF_Lich_31]  DEFAULT ((0)) FOR [31]
GO
/****** Object:  ForeignKey [FK_KyHopDong_HopDong]    Script Date: 05/29/2017 00:44:49 ******/
ALTER TABLE [dbo].[KyHopDong]  WITH CHECK ADD  CONSTRAINT [FK_KyHopDong_HopDong] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HopDong] ([MaHD])
GO
ALTER TABLE [dbo].[KyHopDong] CHECK CONSTRAINT [FK_KyHopDong_HopDong]
GO
/****** Object:  ForeignKey [FK_CongNhan_ChucVu]    Script Date: 05/29/2017 00:44:50 ******/
ALTER TABLE [dbo].[CongNhan]  WITH CHECK ADD  CONSTRAINT [FK_CongNhan_ChucVu] FOREIGN KEY([MaCV])
REFERENCES [dbo].[ChucVu] ([MaCV])
GO
ALTER TABLE [dbo].[CongNhan] CHECK CONSTRAINT [FK_CongNhan_ChucVu]
GO
/****** Object:  ForeignKey [FK_CongNhan_HeSoLuong]    Script Date: 05/29/2017 00:44:50 ******/
ALTER TABLE [dbo].[CongNhan]  WITH CHECK ADD  CONSTRAINT [FK_CongNhan_HeSoLuong] FOREIGN KEY([MaHSL])
REFERENCES [dbo].[HeSoLuong] ([MaHSL])
GO
ALTER TABLE [dbo].[CongNhan] CHECK CONSTRAINT [FK_CongNhan_HeSoLuong]
GO
/****** Object:  ForeignKey [FK_CongNhan_PhuCap]    Script Date: 05/29/2017 00:44:50 ******/
ALTER TABLE [dbo].[CongNhan]  WITH CHECK ADD  CONSTRAINT [FK_CongNhan_PhuCap] FOREIGN KEY([MaPhuCap])
REFERENCES [dbo].[PhuCap] ([MaPhuCap])
GO
ALTER TABLE [dbo].[CongNhan] CHECK CONSTRAINT [FK_CongNhan_PhuCap]
GO
/****** Object:  ForeignKey [FK_Luong_CongNhan]    Script Date: 05/29/2017 00:44:50 ******/
ALTER TABLE [dbo].[Luong]  WITH CHECK ADD  CONSTRAINT [FK_Luong_CongNhan] FOREIGN KEY([MaNV])
REFERENCES [dbo].[CongNhan] ([MaNV])
GO
ALTER TABLE [dbo].[Luong] CHECK CONSTRAINT [FK_Luong_CongNhan]
GO
